@model AlloyCheck.Models.Pages.CustomPage

<div class="custom-template">
    <h1>Custom Template: @Model.Title</h1>
    <div class="main-body">
        @Html.PropertyFor(x => x.MainBody)
    </div>
</div>